@using Microsoft.Extensions.Options;
@inject IOptions<AppSettings> Settings

@{
    ViewData["Title"] = "Home Page";
}

<script>
    var baseURL = '@Settings.Value.BaseAPIURL';

</script>

<div class="row">
    <div class="col-md-3">
        <h2>One 1.</h2>
        <ul>
            <li>1.A</li>
            <li>1.B <a href="https://google.com">Google</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Highest Value</h2>
        <ul>
            <li><a href=""> Top 100</a></li>
            <li><a href="">Most playable</a></li>
            <li><a href="">All time staples</a></li>
            <li><a href="">Random</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>View Sets</h2>
        <ul>
            <li onclick="searchSet();">Vintage</li>
            <li><a href="">Sun and Moon</a></li>
            <li><a href="">XY</a></li>
            <li><a href="">Black and White</a></li>
            <li><a href="">HGSS</a></li>
            <li><a href="">GX, Secret Rares, and Special</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Other</h2>
        <ul>
            <li><a href="">Build your collection</a></li>
            <li><a href="">Favorites</a></li>
        </ul>
    </div>
</div>

<div>
    Name: <input type="text" id="pokemonID" name="pokemon"><br>
    <input type="submit" value="Submit" onclick="searchName();">
    <input type="submit" value="Reset" onclick="resetResults();">
    <p></p>
</div>

<div id="grid"> </div>